:root {
  /* Spacing */
  --spacing-md: 5px;
  --spacing-lg: calc(var(--spacing-md) * 2);
  --spacing-xl: calc(var(--spacing-md) * 3);
  --spacing-xxl: calc(var(--spacing-md) * 4);
  /* Shape */
  --border-radius: 10px;
  /* Colour */
  --colour-darker: #282a37;
  --colour-dark: #3034444f;
  --colour-text: #c3e88d;
}

/* switch */

.switch {
  background-color: #1f202b;
  display: inline-flex;
  padding: 4px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 12px;
  z-index: 100;
  user-select: none;
  font-family: system-ui;
  transform: translateX(-50%);
  border: 1px solid #ffffff10;
}

.switch-content {
  position: relative;
}

.switch-active {
  background-color: white;
  position: absolute;
  height: 100%;
  z-index: -1;
  border-radius: 4px;
}

.switch-option {
  color: #6d6f81;
  text-decoration: none;
  padding: 2px 12px;
  cursor: pointer;
  transition: all 0.4s;
}

.switch-option--active {
  color: #1f202b;
}

/* /switch */

.canvasWrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.contentWrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.terminal {
  background: var(--colour-dark);
  backdrop-filter: blur(4px);
  color: var(--colour-text);
  width: 420px;
  height: 190px;
  max-width: 600px;
  max-height: 270px;
  border-radius: var(--border-radius);
  overflow: hidden;
  font-family: monospace;
}

.terminal-header {
  background: var(--colour-darker);
  padding: var(--spacing-lg);
  position: relative;
  display: flex;
  height: 38px;
  background: var(--colour-darker)
    url(data:image/svg+xml;base64,ICAgICAgICA8c3ZnCiAgICAgICAgICB3aWR0aD0iNTIiCiAgICAgICAgICBoZWlnaHQ9IjEyIgogICAgICAgICAgdmlld0JveD0iMCAwIDUyIDEyIgogICAgICAgICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICAgICAgID4KICAgICAgICAgIDxjaXJjbGUgY3g9IjQ2IiBjeT0iNiIgcj0iNiIgZmlsbD0iIzI4Qzg0MCIgLz4KICAgICAgICAgIDxjaXJjbGUgY3g9IjI2IiBjeT0iNiIgcj0iNiIgZmlsbD0iI0ZFQkMyRSIgLz4KICAgICAgICAgIDxjaXJjbGUgY3g9IjYiIGN5PSI2IiByPSI2IiBmaWxsPSIjRkY1RjU3IiAvPgogICAgICAgIDwvc3ZnPg==)
    no-repeat 15px center;
  padding-left: 80px;
  color: #ffffff57;
}

.terminal-content {
  padding: var(--spacing-xl);
  font-size: 1.4rem;
  line-height: 1.6;
}

.terminal-line--active:after {
  content: "_";
  color: #88ce7b;
  position: relative;
  top: 1x;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
