:root {
  --primary: #ff7b00;
  --secondary: #18af86;
  --brown: #3d3737;
  --black: #252121;
  --borderRadius: 4px;
}

.arr-bg {
  background: var(--brown);
  width: 100%;
  height: 100%;
  padding: 6rem;
}

.item {
  flex-direction: column;
}

.item__name {
  background-color: var(--black);
  padding: 10px;
  color: white;
  border-radius: var(--borderRadius);
  margin-bottom: 25px;
}

.item__data {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto auto auto;
  gap: 6px;
  margin-right: 2px;
  margin-bottom: 20px;
}

.column_name {
  background-color: var(--secondary);
  padding: 6px 10px;
  color: white;
  border-radius: var(--borderRadius);
}

.column_bars {
  flex-direction: row;
}

.column_bars div {
  width: 60px;
  padding: 6px 10px;
  color: white;
  border-radius: var(--borderRadius);
  background-color: var(--primary);
}

.column_name {
  grid-column: 1 / 3;
  justify-self: left;
  margin-bottom: 6px;
}

.column_time {
  grid-column: 1 / 3;
  display: flex;
  gap: 2px;
}

.column_time div {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #5c5757;
}

.column_time > div:first-of-type div {
  color: white;
}

.column_bars {
  grid-column: 1 / 3;
  display: flex;
  gap: 2px;
}
