.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.inline-flex {
  display: inline-flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-around {
  justify-content: space-between;
}

.flip-h {
  transform: rotateY(180deg);
}
.flip-v {
  transform: rotate(180deg);
}
