/* UTIL */

._mr5 {
  margin-right: 5px;
}

._fs-xl {
  font-size: 1.6rem;
}

._bold {
  font-weight: 500;
}

/* /UTIL */

.arr-bg {
  background: var(--bg);
  width: 100%;
  height: 100%;
}

.background {
  background: #eaeae6;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main {
  background: #f9faf7;
  display: flex;
  width: 80%;
  height: 80%;
  border-radius: 2px;
  box-shadow: 0px 74px 64px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.column--text {
  flex: 1;
  display: flex;
}

.column--image {
  position: relative;
  flex: 1;
}

.socials {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45px;
  align-items: center;
}

.socials > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px 0;
}

.socials::before {
  content: "";
  height: 10%;
  border-left: 2px solid #e2e2e2;
}

.socials::after {
  content: "";
  height: 80%;
  border-left: 2px solid #e2e2e2;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 48px;
  position: relative;
}

.mainContent-header {
  padding-top: 26px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.mainContent-header-logo {
  display: flex;
  gap: 28px;
}

.mainContent-header-search {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 40px;
  opacity: 0.35;
}

.mainContent-content {
}

.mainContent-h1 {
  padding-top: 150px;
  font-weight: 500;
  line-height: 1.3;
}

.mainContent-info {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr;
  margin-top: 16px;
  gap: 0px 24px;
}

.mainContent-byLabel {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.mainContent-byAuthor {
  font-size: 1rem;
  font-weight: 700;
}

.mainContent-link {
  grid-column: 2 / 2;
  grid-row: 1 / span 2;
  align-content: center;
  text-align: end;
  font-size: 1.2rem;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 15px;
}

.mainContent-play {
  opacity: 1;
  transform: none;
  background: #e1e1e1;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  box-shadow: 0px 22px 20px #00000029;
}

.mainContent-footer {
  padding-bottom: 32px;
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 90%;
}

.mainContent-footer-socials {
  justify-content: flex-end;
  display: flex;
  width: inherit;
  padding-right: 50px;
}

.mainContent-footer-socialRow {
  display: flex;
  gap: 6px;
  align-items: center;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
