:root {
  --bg: #eef2f3;
  --maxWidth: 355px;
  --toastBg: #ffffff;
  --toastRadius: 8px;
  --buttonRadius: 8px;
  --primary: #44cc99;

  --color-success: #42b273;
  --color-warning: #f1bc37;
  --color-info: #3bb7d5;
  --color-error: #f15a37;

  --toastColor: var(--primary: #44cc99);
}

.bold {
  font-weight: 500;
}

.arr-bg {
  background: var(--bg);
  width: 100%;
  height: 100%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAV */

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  bottom: 50px;
  padding: 20px;
  background-color: white;
  border-radius: var(--toastRadius);
  box-shadow: 0px 23px 51px #0000001a;
}

/* BUTTON */

.button {
  padding: 8px 20px;
  background-color: black;
  color: white;
  border-radius: var(--buttonRadius);
  cursor: pointer;
  user-select: none;
}

/* SELECT */

.selectWrap {
  display: flex;
  gap: 2px;
}

.select {
  padding: 16px 8px;
  flex: 1;
  border-radius: 8px;
  opacity: 0.25;
}

.select:hover {
  opacity: 1;
  cursor: pointer;
}

.select--selected {
  opacity: 1;
}

.select--success {
  background-color: var(--color-success);
}
.select--warning {
  background-color: var(--color-warning);
}
.select--info {
  background-color: var(--color-info);
}
.select--error {
  background-color: var(--color-error);
}

/* TOAST */

.toastt {
  display: flex;
  flex-direction: column;
  border-radius: var(--toastRadius);
  width: 100%;
  max-width: var(--maxWidth);
  overflow: hidden;
  box-shadow: 0px 11px 11px #0000000a;
  background:
    linear-gradient(white, #fff) padding-box,
    linear-gradient(to bottom, #ececec, #e1e1e1, #e5e5e5) border-box;
  border: 1px solid transparent;
  font-size: 1rem;
  margin-bottom: 12px;
}

.toast--success {
  --toastColor: var(--color-success);
}

.toast--error {
  --toastColor: var(--color-error);
}

.toast--warning {
  --toastColor: var(--color-warning);
}

.toast--info {
  --toastColor: var(--color-info);
}

.toastt-wrap {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 16px 16px;
}

/* Header */

.toastt-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.toastt-icon {
  width: 30px;
}

.toastt-icon svg {
  position: relative;
  left: -2px;
  stroke-width: 2.5px;
  stroke: var(--toastColor);
}

.toastt-title {
  flex: 1;
  font-size: 1.5em;
  font-weight: 500;
}

.toastt-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: -2px;
}

.toastt-actions a svg {
  stroke: #888;
  width: 20px;
  stroke-width: 2px;
}

.toastt-actions a:hover svg {
  stroke: #444;
}

.toastt-actionExpand {
  transition: transform 0.2s;
  transform: rotate(180deg);
  transition-delay: 10ms;
}

.toast--expanded .toastt-actionExpand {
  transform: rotate(0deg);
}

.toastt-actionClose {
  transition: 0.25s transform;
}

.toastt-actionClose:hover {
  transform: rotate(90deg);
}

/* Content */

.toastt-content {
  overflow: hidden;
}

.toastt-content-inner {
  padding-left: 28px;
  padding-top: 10px;
}

.toastt-message {
  font-size: 1.5em;
  font-weight: 300;
  opacity: 0.6;
}

.toastt-buttons {
  display: flex;
  margin-top: 12px;
  gap: 6px;
}

.toastt-button {
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 1.4em;
  text-decoration: none;
  color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
}

/* Footer */

.toastt-footer {
  background-color: hsl(from var(--toastColor) h 20% 60% / 0.05);
  transition: 0.25s height;
  height: 30px;
}

.toast--paused .toastt-footer {
  height: 0px;
}

.toastt-closingMessage {
  padding: 4px;
  font-weight: 300;
  padding-left: 16px;
  font-size: 1.3em;
  display: flex;
  gap: 4px;
}

.toastt-closingText {
  opacity: 0.5;
}

.toastt-closingAction {
  opacity: 1;
  text-decoration: none;
  color: black;
}

.toastt-closingAction:hover {
  text-decoration: underline;
}

.toastt-closingTimeout {
  height: 4px;
  position: relative;
}

.toastt-closingTimeout::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--toastColor);
}
