:root {
  --color-primary: #7c69ff;
  --color-secondary: #2fe2b8;
  --color-grey100: #fefefe;
  --color-grey200: #e8e8e8;
  --color-grey300: #c9c9c9;
  --color-grey400: #9b9b9b;
  --color-grey500: #626262;
  --color-grey600: #444444;
  --color-grey700: #313131;
  --color-grey800: #202020;
  --color-grey900: #0b0b0b;
}

:root {
  --space-ssm: calc(var(--space-md) / 3);
  --space-sm: calc(var(--space-md) / 2);
  --space-md: 5px;
  --space-lg: calc(var(--space-md) * 2);
  --space-xl: calc(var(--space-md) * 3);
  --space-xxl: calc(var(--space-md) * 4);
  --border-radius: 8px;
  --font-size-sm: 10px;
  --font-size-md: 15px;
}

:root {
  --animation-timing: 0.25s;
}

._mla {
  margin-left: auto;
}

.container {
  width: 60vw;
  aspect-ratio: 16 / 9;
  color: var(--color-grey100);
  border-radius: var(--border-radius);
  overflow: hidden;
  container-type: inline-size;
}

/* Shorter Text Option for small screens*/

@container (inline-size > 600px) {
  .display--lg {
    display: block;
  }
  .display--sm {
    display: none;
  }
}

@container (inline-size < 600px) {
  .display--lg {
    display: none;
  }
  .display--sm {
    display: block;
  }
}

@media (max-width: 650px) {
  .container {
    width: 95vw;
  }
}

.player {
  width: 100%;
  background-color: var(--color-grey800);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.player-video {
  flex: 1;
  /* background: linear-gradient(13deg, #2f08a6, #2fe2b8); */
  background: linear-gradient(
    13deg,
    hsl(from var(--color-primary) h s 70 / 1),
    hsl(from var(--color-secondary) h s 70 / 1)
  );
}

.player-controls {
  position: relative;
}

.player-controls:hover .player-settings {
  transform: translateY(0%);
}

.player-settings {
  background-color: rgb(from var(--color-grey900) r g b / 0.6);
  /* background: linear-gradient(
    to top,
    var(--color-grey900),
    rgb(from var(--color-grey900) r g b / 0.2)
  ); */
  transform: translateY(100%);
  transition: transform var(--animation-timing);
  height: 40px;
  display: flex;
  align-items: center;
  padding: var(--space-xl);
  position: absolute;
  bottom: 26px;
  left: 0;
  right: 0;
  gap: var(--space-lg);
  user-select: none;
}

.player-settings svg {
  fill: var(--color-grey200);
}

.player-settings-playButton {
  position: relative;
  width: 17px;
  display: inline-block;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  top: -1px;
}

.player-chapters {
  background-color: var(--color-grey900);
  position: relative;
  height: 28px;
  display: flex;
  align-items: center;
  gap: var(--space-md);
  cursor: pointer;
  padding: var(--space-lg);
}

.chapter {
  height: 6px;
  background: var(--color-grey700);
  border-radius: 6px;
  /* overflow: hidden; */
}

.chapter--done {
  background-color: var(--color-secondary);
}

.chapter--current {
  background: var(--color-grey700);
}

.chapter-progress {
  height: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  position: relative;
}

.player-time {
  font-size: var(--font-size-md);
  display: flex;
  gap: 4px;
}

.player-currentTime-digit {
  width: 0.58em;
  display: inline-block;
  text-align: center;
}

.player-totalTime {
  letter-spacing: 0.08em;
  opacity: 0.3;
}

.player-timeSeperator {
  margin: 0px 2px;
  opacity: 0.3;
}

.player-speed {
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--color-grey800);
  align-items: center;
  height: 25px;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  color: var(--color-grey300);
}

.player-speed-current {
  padding: 0 8px;
  display: flex;
  height: 100%;
  align-items: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.player-speed-decrease,
.player-speed-increase {
  padding: 0 8px;
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.fillAnimation {
  cursor: pointer;
  background: linear-gradient(
      to left,
      var(--color-grey800) 50%,
      var(--color-grey700) 50%
    )
    right;
  background-size: 200%;
  transition: background 0.25s ease-out;
}

.fillAnimation:hover {
  background-position: left;
}

.button {
  background-color: var(--color-grey800);
  padding: 5px var(--space-lg);
  height: 25px;
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);
  color: var(--color-grey300);
}

.select {
  background-color: var(--color-grey800);
  padding: 5px var(--space-lg);
  height: 25px;
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;
  color: var(--color-grey300);
  position: relative;
}

.select svg {
  margin-left: var(--space-md);
  fill: var(--color-grey200);
  position: relative;
  top: 0.5px;
}

.select-options-container {
  position: absolute;
  left: 0;
  bottom: 24px;
  width: max-content;
  height: 0px;
  overflow: hidden;
  border-radius: var(--border-radius);
  transition: height 0.5s cubic-bezier(0.03, 0.94, 0.65, 0.99);
}

.select-options {
  background: var(--color-grey800);
  border-radius: var(--border-radius);
  padding: var(--space-md) 0;
  list-style-type: none;
}

.select:hover .select-options-container {
  height: calc-size(max-content, size);
}

.select-option a {
  display: block;
  padding: var(--space-md) var(--space-lg);
  color: var(--color-grey300);
  text-decoration: none;
}

.select-option a:hover {
  color: var(--color-grey100);
}

.select-option--selected a {
  color: var(--color-primary);
}

.player-fullscreen,
.player-volume {
  cursor: pointer;
}

.player-fullscreen:hover,
.player-volume:hover {
  fill: var(--color-grey100);
}

.spark-container {
  position: relative;
  right: 6px;
  pointer-events: none;
}

.spark {
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--color-secondary);
  position: absolute;
}
